.DS_Store
..gitignore.un~
.cache.sqlite


.ipynb_checkpoints
*/.ipynb_checkpoints/*
.virtual_documents/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Untitled.ipynb
test.ipynb
untitled.txt

datasets/**/.ipynb_checkpoints/
datasets/**/*-checkpoint.csv
datasets/**/*-checkpoint.ipynb

*.swp
*.swo

